### Import Data

In [3]:
import pandas as pd

In [39]:
df = pd.read_csv("MaunaLoaCO2_monthly_sitename.csv")
df.head()

,Year,Month,Decimal_date,Monthly_average,deseasonalized,numofdays,stdofdays,site
0,1958,3,1958.2027,315.70,314.43,-1,-9.99,MaunaLoa
1,1958,4,1958.2877,317.45,315.16,-1,-9.99,MaunaLoa
2,1958,5,1958.3699,317.51,314.71,-1,-9.99,MaunaLoa
3,1958,6,1958.4548,317.24,315.14,-1,-9.99,MaunaLoa
4,1958,7,1958.5370,315.86,315.18,-1,-9.99,MaunaLoa

### Filter Data

In [42]:
# Exclude data from the years 1958 and 2022 (1 pt).
# Remove rows where "numofdays" or "stdofdays" contain invalid (negative) values (1 pt).
df = df[df["Year"] != 1958]
df = df[df["Year"] != 2022]
df = df[df["numofdays"] > 0]
df = df[df["stdofdays"] > 0]

In [44]:
df["Year"].min()

1974

In [46]:
df["Year"].max()

2021

In [48]:
df["stdofdays"].min()

0.15

In [50]:
df["numofdays"].min()

7

### Compute Annual Statistics (3 pt)

In [55]:
# Calculate the annual average CO₂ concentration from "Monthly_average" and store it in "annual_average" (1 pt).
# Calculate the annual average deseasonalized CO₂ concentration from "deseasonalized" and store it in "deseasonalized_annual_average" (1 pt).
# Compute the standard deviation of the 12-month "Monthly_average" values for each year and store it in "std_of_months" (1 pt).
annual_df = df.groupby('Year').agg(
    annual_average=('Monthly_average', 'mean'),
    deseasonalized_annual_average=('deseasonalized', 'mean'),
    std_of_months=('Monthly_average', 'std')
).reset_index()

### Apply Custom Function (2 pt)

In [60]:
# Write a function to classify CO₂ levels into categories:
# "Low" if CO₂ is below 350 ppm
# "Moderate" if CO₂ is between 350 and 400 ppm
# "High" if CO₂ is above 400 ppm
def classify_co2_level(co2):
    if co2 < 350:
        return "Low"
    elif 350 <= co2 <= 400:
        return "Moderate"
    else:
        return "High"
annual_df['CO2_Category'] = annual_df['annual_average'].apply(classify_co2_level)

### Save and Submit

In [63]:
# Save final DataFrame to CSV
output_filename = "Weinstein_MaunaLoaCO2_annual_Hw3.csv"
annual_df.to_csv(output_filename, index=False)

# Display final dataset to verify
display(annual_df.head())

,Year,annual_average,deseasonalized_annual_average,std_of_months,CO2_Category
0,1974,329.763750,330.346250,2.203789,Low
1,1975,331.160909,331.072727,1.943751,Low
2,1976,332.026667,332.028333,2.085610,Low
3,1977,333.843333,333.841667,1.931882,Low
4,1978,335.415000,335.413333,1.995014,Low